/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

h2 {
  padding: 0 0 1% 3%;
}

#customers {
  display: flex;
  flex-wrap: wrap;
}

.thumb {
  width: 70vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
}

.emailLink {
  color: gray;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
